# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names not beginning with .
exportPattern("^[^\\.]")

#export(Direct)         
#export(DrHSVM)       
#export(EPSGO)
#export(ExpImprovement)
#export(findgacv.scad)
#export(lpsvm)
#export(predict.penSVM)
#export(print.penSVM)
#export(scad_L2.svc) 
#export(scadsvc)
#export(sim.data)
#export(sortmat)       
#export(svmfs)
#export(svmfs.default) 

export(.plot.EPSGO.parms)

# Import all packages listed as Imports or Depends
import(e1071, mlegp, MASS )

importFrom(tgp,lhs)
importFrom(corpcor, pseudoinverse)
importFrom(corpcor, rank.condition)
importFrom(statmod, matvec) 
importFrom(statmod, vecmat) 
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "legend", "par", "plot", "text")
importFrom("stats", "dnorm", "optimize", "plogis", "pnorm", "predict",
             "runif", "sd")
importFrom("utils", "str")

S3method(predict, penSVM)
S3method(print, penSVM)

S3method(svmfs, default)
